:root {
  --fonts: Helvetica, Arial, sans-serif;
  --color-paperwhite: #ffe;
  --color-error: #a77;
  --color-white: #eee;
  --color-accent: #aa6;
  --color-accent-dark: #663;
  --color-accent-light: #cc8;
}

.App {
  text-align: center;
}

nav {
  background-color: #646459;
  min-height: 10vh;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

nav ul{
  list-style: none;
}

nav li{
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.App-link {
  color: #111213;
  font-size: 1.5rem;
}

/*
* ###########################################
*/

a {
  text-decoration: none;
}

p {
  font-family: var(--fonts);
}

/*
* ##############   HEADER   ##############
*/

.innskra{
  font-size: 3rem;
}

/*
* ##############   BODY   ##############
*/

ul {
  margin-bottom: 3rem;
  list-style-type: none;
}

li {
  font-size: 2rem;
  font-family: var(--fonts);
  font-weight: 600;
}

li:first-child{
  margin-top: 0;
  padding-top: 0;
}

li:last-child{
  margin-top: 0;
  padding-top: 0;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 500px;
}

.form--separated {
  margin: 0 auto;
  border: 2px solid var(--color-accent);
  margin-bottom: 2rem;
  padding: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.field label {
  font-size: 1rem;
  min-width: 140px;
}

.field input,
.field textarea {
  border: 1px solid var(--color-accent);
  border-radius: 10px;
  flex: 1;
  padding: 8px;
  width: 20%;
}

.field--textarea {
  align-items: flex-start;
}

.field textarea {
  flex: 1;
  min-height: 3rem;
}

.field--invalid input,
.field--invalid textarea {
  background-color: #fbb;
  border-color: var(--color-error);
}

.button {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  padding: 0.5rem;
  transition: background-color ease-in 300ms;
  margin-top: 1rem;
  width: 20%;
}

.button--margin{
  margin-bottom: 2rem;
}