.Event_layout {
  &__header {
    margin: 0 auto; 
    padding: 0 1rem;
    min-height: 10vh;
    width: 100vh;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
  }

  &__h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Playfair Display', Georgia, serif;
  }

  &__ul {
    text-align: center;
    display: flex;
    flex-direction: column;  
  }
    
  &__li {
    line-height: 1.5rem;
    font-size: 2rem;
    font-family: 'Inter';
  }

  &__p{
    font-family: 'Inter';
    font-size: 1.5rem;
  }
  
  &__item {
    box-sizing: border-box;
    width: 100%;
    max-width: 33.33333333%;
    padding: 0 0.5rem 1rem 0.5rem;
  }
}
