.layout {
  &__header {
    padding: 0 1rem;
    background-color: #646459;
    min-height: 10vh;
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
  }
  
  &__little{
    font-size: 1rem;
    font-weight: 200;
  }

  &__main {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  &__footer {
    padding: 1rem;
    border-top: 1px solid #333;
    min-width: 100vh;
    align-items: center;
  }
}

ul {
  list-style: none;
}
  
li {
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
} 
