.layout {
  &__ul {
    list-style: none; 
  }
  
  &__li {
    display: block;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }

  &__li2 {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }

  &__hr{
    width: 100vh;
  }
}